<div>Average Range</div>
<ul style="margin: 0; padding: 2px 17px;">
  <li><%= link_to "12 month", range: 12 %></li>
  <li><%= link_to "6 month", range: 6 %></li>
</ul>

<%= column_chart(chart_data)%>

<table>
  <tr style="font-weight:bold;">
    <td>Category</td>
    <% LineItem.months.last(range).each do |month| %>
      <td><%= month %></td>
    <% end %>
    <td></td>
    <td></td>
    <td></td>
    <td>Average</td>
    <td>Variation</td>
  </tr>

  <tr>
    <td>Total</td>
    <% LineItem.months.last(range).each do |month| %>
      <td><%= LineItem.charges.where(month_year: month).sum(:amount).abs %></td>
    <% end %>
    <td></td>
    <td></td>
    <td></td>
    <td><%= LineItem.average(range).abs %></td>
    <td><%= LineItem.variation(range) %>%</td>
  </tr>

  <% Category.for_dashboard(range).each do |category| %>
    <tr>
      <td><%= link_to(category.name || "Unknown", category) %></td>
      <% LineItem.months.last(range).each do |month| %>
        <td><%= category.line_items.where(month_year: month).sum(:amount).abs %></td>
      <% end %>
      <td></td>
      <td></td>
      <td></td>
      <td><%= category.average(range).abs %></td>
      <td><%= category.variation(range) %>%</td>
    </tr>
  <% end %>

</table>
